.fav-cars-page {
    padding-left: 12px;
    padding-right: 12px;
    &__title {
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 24px;
        padding-top: 24px;
    }
    &__link {
        padding-bottom: 24px;        
    }
}
